body {
	
}

/* top part */
#menu {
	width: 90%;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.menuitem {
	width: 25%; /* Hard-coded to fit 5 columns */
	float: left;
	text-align: center;
}

/* left */
#profile {
	width: 30%;
	float: left;
	margin-left: 3%;
	margin-right: 2%;
}

#profile > img {
	width: 100%;
}

#logo {
	height: 75px;
}

#logo img {
	height: 100%;
}

/* right */
#blog {
	width: 60%;
	float: left;
	margin-left: 2%;
	margin-right: 3%;
	/* background-color: red; /* for testing */
}

/* other */
h1 {
	text-align: center;

}

